*.nii.gz*
*.nii
*.BRIK
*.HEAD
*~
*.xml
*.swp
*.err
*.out
*.rds
*.RDS
runme.*
*.txt
*.rdata
*.Rdata
*.RData
*.rda
Makefile
slurmjob.bash
*.sdat
*.niml
*.spec
*.scene
*.png
*.gii
bin/*
.Rproj.user
*.log
*.tar
*.tar.gz
